/JavaPrograms/SetColl/nbproject/private/
/JavaPrograms/SetColl/build/
/JavaPrograms/AgendaTelefonica/nbproject/private/
/JavaPrograms/AgendaTelefonica/build/
/SabloaneDeProiectare/Creationale/JavaFactoryPattern/nbproject/private/
/SabloaneDeProiectare/Creationale/JavaFactoryPattern/build/
/SabloaneDeProiectare/Creationale/JavaAbstractFactory/nbproject/private/
/SabloaneDeProiectare/Creationale/JavaAbstractFactory/build/